@page
@model G1Food_User.Pages.UserProfileModel
@{
    ViewData["Title"] = "User profile";
}

<head>
    <link rel="stylesheet" href="~/css/userProfile.css" type="text/css" asp-append-version="true" />
</head>
<body>
    <div class="overplay d-none"></div>
    <main class="container-fluid mt-content bg-main">
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm-12 col-md-8">
                    <div class="d-flex justify-content-between mt-5">
                        <h6 class="bold">Tất cả đơn hàng 
                            @{
                                int orderQuanity = 0;
                                if (@Model.Orders != null)
                                {
                                    orderQuanity = @Model.Orders.Count();
                                }
                            } (@orderQuanity)
                        </h6>
                        <a class="btn sm" href="./index.html">
                            <i class="fa-solid fa-left-long"></i>
                            Trở về
                        </a>
                    </div>
                    <table class="table table-hover table-bordered text-center mt-5">
                        <thead class="align-middle">
                            <tr>
                                <th>Mã đơn</th>
                                <th>Ngày đặt</th>
                                <th>Ngày giao</th>
                                <th>Số lượng</th>
                                <th>Note</th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody class="order-list">
                            @{
                                if(@Model.Orders != null)
                                {
                                    foreach (var order in @Model.Orders)
                                    {
                                        <tr>
                                            <td class="align-middle product-name bold">@order.Id</td>
                                            <td class="align-middle">@order.Date</td>
                                            <td class="align-middle">25/09/2023</td>
                                            <td class="align-middle product-quanity">
                                                <div class="quantity-group justify-content-center">
                                                    <input type="number"
                                                           id="quantity-input"
                                                           value="1"
                                                           min="1" />
                                                </div>
                                            </td>
                                            <td class="align-middle">@order.Note</td>
                                            <td class="align-middle product-total bold main-color">
                                                120k
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <div class="oderDetail-container d-none animation-scale">
                        <div class="wrapper-icon position-absolute btn-close-order-detail">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                        <div class="w-full d-flex justify-content-between mt-3">
                            <div>
                                <span class="bold">Mã đơn: </span>
                                <span class="main-color bold">#ABC123</span>
                            </div>
                            <div>
                                <span class="bold">Tổng: </span>
                                <span class="main-color bold">125.000đ</span>
                            </div>
                        </div>
                        <table class="table table-responsive table-hover table-bordered text-center mt-3">
                            <thead class="align-middle">
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Ngày đặt</th>
                                    <th>Ngày giao</th>
                                    <th>Giảm giá</th>
                                    <th>Số lượng</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody class="order-list">
                                <tr>
                                    <td class="align-middle product-name bold">Gà không cay</td>
                                    <td class="align-middle">
                                        <img class="fit-img rounded-sm"
                                             src="./img/card_1.jpg"
                                             alt="" />
                                    </td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">-10%</td>
                                    <td class="align-middle product-quanity">
                                        <div class="quantity-group justify-content-center">
                                            <input type="number"
                                                   id="quantity-input"
                                                   value="2"
                                                   min="1" />
                                        </div>
                                    </td>
                                    <td class="align-middle product-total bold main-color">
                                        120.000vnd
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle product-name bold">Gà không cay</td>
                                    <td class="align-middle">
                                        <img class="fit-img rounded-sm"
                                             src="./img/card_1.jpg"
                                             alt="" />
                                    </td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">-10%</td>
                                    <td class="align-middle product-quanity">
                                        <div class="quantity-group justify-content-center">
                                            <input type="number"
                                                   id="quantity-input"
                                                   value="2"
                                                   min="1" />
                                        </div>
                                    </td>
                                    <td class="align-middle product-total bold main-color">
                                        120.000vnd
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle product-name bold">Gà không cay</td>
                                    <td class="align-middle">
                                        <img class="fit-img rounded-sm"
                                             src="./img/card_1.jpg"
                                             alt="" />
                                    </td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">-10%</td>
                                    <td class="align-middle product-quanity">
                                        <div class="quantity-group justify-content-center">
                                            <input type="number"
                                                   id="quantity-input"
                                                   value="2"
                                                   min="1" />
                                        </div>
                                    </td>
                                    <td class="align-middle product-total bold main-color">
                                        120.000vnd
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle product-name bold">Gà không cay</td>
                                    <td class="align-middle">
                                        <img class="fit-img rounded-sm"
                                             src="./img/card_1.jpg"
                                             alt="" />
                                    </td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">-10%</td>
                                    <td class="align-middle product-quanity">
                                        <div class="quantity-group justify-content-center">
                                            <input type="number"
                                                   id="quantity-input"
                                                   value="2"
                                                   min="1" />
                                        </div>
                                    </td>
                                    <td class="align-middle product-total bold main-color">
                                        120.000vnd
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-middle product-name bold">Gà không cay</td>
                                    <td class="align-middle">
                                        <img class="fit-img rounded-sm"
                                             src="./img/card_1.jpg"
                                             alt="" />
                                    </td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">23/09/2023</td>
                                    <td class="align-middle">-10%</td>
                                    <td class="align-middle product-quanity">
                                        <div class="quantity-group justify-content-center">
                                            <input type="number"
                                                   id="quantity-input"
                                                   value="2"
                                                   min="1" />
                                        </div>
                                    </td>
                                    <td class="align-middle product-total bold main-color">
                                        120.000vnd
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 mt-5">
                    <div class="paying-info">
                        <form method="get" asp-page="UpdateProfile">
                            <div class="d-flex justify-content-center align-items-center">
                                <h6 class="bold">
                                    <i class="fa-regular fa-user main-color mr-2 mb-2"></i>
                                    Thông tin của bạn
                                </h6>
                            </div>
                            <input type="text" name="id" value="@Model.userIDClaim" hidden/>
                            <input type="text" name="token" value="@Model.userTokenClaim" hidden />
                            <div class="form-group">
                                <div class="fs-md bold">Họ và tên:</div>
                                <input type="text" name="userName" value="@Model.userNameClaim" required />
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="form-group">
                                    <div class="fs-md bold">Số điện thoại:</div>
                                    <input type="text" name="phone" value="@Model.userPhoneClaim" required />
                                </div>
                                <div class="form-group ml-1">
                                    <div class="fs-md bold">Email:</div>
                                    <input type="email" name="email" value="@Model.userEmailClaim" required  readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="fs-md bold">Địa chỉ:</div>
                                <input name="address"
                                        type="text"
                                       value="@Model.userAddressClaim"
                                       required />
                            </div>
                            <button type="submit" class="btn full mt-1">
                                <i class="fa-solid fa-pen"></i> Cập nhật
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="~/js/orderDetail.js" type="text/javascript" asp-append-version="true"></script>
</body>
